<header class="fixed" id="header">
<nav class="main-nav" id="nav">
<ul>
	<li><a href="#">Home</a></li>
	<li><a href="#">Missions</a></li>
	<li><a href="#">Customers</a></li>
	<li><a href="#">Partners</a></li>
	<li><a href="#">Values</a></li>
	<li><a href="#">Contact</a></li>
</ul>
</nav>
</header>