footer{
    padding: $marge-m;
    width: 100%;
    font-size: .9em;
    color: white;
    background-color: $color-p-dark;
    ul{
        display: flex;
        justify-content: center;
        gap: $marge-m;
    }
    hr{
        margin: 3rem 0;
    }
}