footer{
    padding: calc(#{$marge-m} * 2) $marge-d-x;
    width: 100%;
    font-size: .9em;
    color: $colorWt;
    background-color: $colorBk;
    ul{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: $marge-m;
    }
    .separe{
        margin: calc(#{$marge-m} * 2) 0;
    }
    a{
        @include footer-link();
        text-decoration: none;
    }
    span {
        @include footer-link();
        cursor: pointer;
    }
}