footer{
    padding: calc(#{$marge-m} * 2) $marge-d-x;
    width: 100%;
    font-size: .9em;
    color: $colorWt;
    background-color: $colorBk;
    ul{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: $marge-m;
    }
    .separe{
        margin: calc(#{$marge-m} * 2) 0;
    }
    a{
        @include footer-link();
        text-decoration: none;
    }
    span {
        @include footer-link();
        cursor: pointer;
    }
    @media screen and (max-width: $lg) {
        .row-footer {
            align-items: center;
        }
    }
    @media screen and (max-width: $md) {
        padding: $marge-m;
        .separe{
            margin: $marge-m 0;
        }
        #sign, #social {
            margin-bottom: $marge-m;
        }
        #social {
            ul{
                justify-content: right;
            }    
        }
        
    }
    @media screen and (max-width: $xs) {
        #nav {
            display: block;
            li {
                &:not(:last-child) {
                    margin-bottom: 1rem;
                }
            }
        }
        #social {
            ul{
                justify-content: left;
            }    
        }
    }
}