fieldset{
    border: none;
    padding: 0;
    margin-bottom: 2rem;
    &.row{
        margin: 0 -1rem 2rem;
    }
    &.services{
        margin: 0 0 4.5rem;
    }
}

.contact-form{
    background: #F1F1F1;
    border-radius: 0 0 0 10rem;
    form{
        margin: 1rem 0 0;
    }
}

.input-group {
    position: relative;
}

input, textarea, select, label {
    @include font(200, 14, false, $ff-body);
}

input {
    &[type="text"],
    &[type="email"],
    &[type="tel"]{
        @include form-design();    
    }
    &[type="submit"] {
        @extend .btn-primary;
        cursor: pointer;
    }
}

textarea{
    @include form-design();
    height: 150px;
    margin-bottom: 3rem;
}

select{
    @include form-design();
    margin-top: 1rem;
    letter-spacing: 0.04rem;
    cursor: pointer;
}

label {
    &:not(.label-checkbox){
        position: absolute;
        pointer-events: none;
        left: 70px;
        top: 1.5rem;
        transition: .5s ease all;
    }
    &.label-select {
        top: .95rem;
    }
}

input:hover ~ label:not(.label-checkbox),
input:focus ~ label:not(.label-checkbox),
input:valid ~ label:not(.label-checkbox),
select:hover ~ label:not(.label-checkbox),
select:focus ~ label:not(.label-checkbox),
select:valid ~ label:not(.label-checkbox),
textarea:hover ~ label,
textarea:focus ~ label,
textarea:valid ~ label {
  top: 0px;
  @include font(300, 12, false, $ff-body);
}

.services-form{
    margin: $marge-m 0;
}

.services-list{
    columns: 3;
}

.checkbox {
    margin-bottom: .5rem;
    input[type="checkbox"] {
        display: none;
        & + label {
            display: block;
            position: relative;
            padding-left: 2rem;
            margin-bottom: 1.25rem;
            user-select: none;
            cursor: pointer;
            transition-duration: .5s;
            &:last-child {
                margin-bottom: 0;
            }
            &::before {
                content: '';
                display: block;
                width: 1rem;
                height: 1rem;
                border: .125rem solid #000;
                position: absolute;
                left: 0;
                top: .25rem;
                opacity: .6;
                transition: all .12s, border-radius .5s;
            }
        }
        &:not(:checked) {
            & + label {
                &::before {
                    border-radius: 0;
                }
            }
        }
        &:checked {
            & + label {
                &::before {
                    width: .5rem;
                    top: -.0625rem;
                    left: 5px;
                    opacity: 1;
                    border-top-color: transparent;
                    border-left-color: transparent;
                    -webkit-transform: rotate(45deg);
                    transform: rotate(45deg);
                }
            }
        }
    }

    &:hover {
        input[type="checkbox"]:not(:checked) + label {
            &::before {
                border-radius: .8rem;
            }
        }
    }
}