header{
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: $marge-m 0;
    background: #1F1F1F;

    .nav-btn-desktop{
        width: 50px;
        padding: 0;
        background-color: rgba($color: #000000, $alpha: 0);
        border: none;
        cursor: pointer;
        .bar{
            display: block;
            width: 100%;
            height: 2px;
            background-color: rgba($color: #fff, $alpha: 1.0);
            transition-duration: .5s;
            transform-origin: 0% 50%;
            &:not(:last-child){
                margin-bottom: 10px;
            }
        }
        &:hover{
            .bar-2{
                transform: scaleX(.75);
            }
        }
    }

    @media screen and (min-width: $lg) {
        padding: calc(#{$marge-d-y} / 2.2) $marge-d-x;
        background: inherit;
        transition-duration: .5s;
    }
}

.onScroll{
    header{
        @media screen and (min-width: $lg) {
            padding: calc(#{$marge-d-y} / 4) $marge-d-x;
            background: #1F1F1F;
        }
    }
}