.main-nav{
    z-index: 200;
    pointer-events: none;
    transition-duration: .5s;
    .nav-image, .nav-content{
        opacity: 0;
    }
    .nav-image{
        left: -50vw;
    }
    .nav-content{
        background-color: white;
        right: -50vw;
    }
    .nav-container{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .navsite{
        li{
            font-size: 2vw;
            margin: 5vh 0;
        }
    }
    .social{
        display: flex;
        gap: $marge-m;
    }
}

.nav-open{
    .main-nav{
        pointer-events: inherit;
        .nav-image, .nav-content{
            opacity: 1;
        }
        .nav-image{
            left: 0vw;
        }
        .nav-content{
            right: 0vw;
        }
    }
}