<footer class="container-fluid">
  <div class="row text-center">
    <div class="col-6">
      <ul>
        <li>Mentions légales</li>
        <li>Confidentialité</li>
        <li><span onclick="tarteaucitron.userInterface.openPanel();">Cookies</span></li>
      </ul>
    </div>
    <div class="col-6">
      <p>Conception & développement<br />
        Creative Eye Studio</p>
    </div>
  </div>

</footer>