<header class="position-fixed" id="header"></header>
<nav class="main-nav position-fixed">
  <figure class="nav-image position-fixed wd-50 ht-100vh">

  </figure>
  <div class="nav-content position-fixed wd-50 ht-100vh">
    <div class="nav-container padding-all ht-100vh">
      <figure></figure>
      <ul class="navsite">
        <li><a>Accueil</a></li>
        <li><a>Nos missions</a></li>
        <li><a>Nos réalisations</a></li>
        <li><a>Nos partenaires</a></li>
        <li><a>Nous contacter</a></li>
      </ul>
      <ul class="social">
        <li><a>Facebook</a></li>
        <li><a>LinkedIn</a></li>
      </ul>
    </div>

  </div>
</nav>