<header class="position-fixed" id="header">
<nav class="main-nav" id="nav">
<ul>
	<li><a href="#">Accueil</a></li>
	<li><a href="#">Missions</a></li>
	<li><a href="#">Clients</a></li>
	<li><a href="#">Partenaires</a></li>
	<li><a href="#">Valeurs</a></li>
	<li><a href="#">Contact</a></li>
</ul>
</nav>
</header>