* {
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: 'Segoe UI', 'Tahoma', 'Geneva', 'Verdana', 'sans-serif';
}

a{
    text-decoration: none;
}

figure{
    margin: 0;
}

hr{
    @extend .margin-vertical-no-sm;
}

img{
    max-width: 100%;
    height: auto;
}

ul{
    list-style-type: none;
    margin: 0;
    padding-left: 0;
}

#website{
    min-height: 100vh;
}

.fixed-scroll{
    @media screen and (min-width: 1199px) {
        position: fixed;
    }
}

.scroll-content{
    @media screen and (min-width: 1199px) {
        height: 100vh;
    }
}