@include typography(200, 'raleway-extralight');
@include typography(200, 'raleway-extralightitalic', true);

@include typography(300, 'raleway-light');
@include typography(300, 'raleway-lightitalic', true);

@include typography(400, 'raleway-regular');
@include typography(400, 'raleway-italic', true);

@include typography(500, 'raleway-medium');
@include typography(500, 'raleway-mediumitalic', true);

@include typography(600, 'raleway-semibold');
@include typography(600, 'raleway-semibolditalic', true);

@include typography(700, 'raleway-bold');
@include typography(700, 'raleway-bolditalic', true);

@include typography(800, 'raleway-extrabold');
@include typography(800, 'raleway-extrabolditalic', true);

@include typography(900, 'raleway-black');
@include typography(900, 'raleway-blackitalic', true);

$headings: (h1, $fsTitle1), (h2, $fsTitle2), (h3, $fsTitle3), (h4, $fsTitle4), (h5, $fsTitle5);

@each $heading, $fontSize in $headings {
  #{$heading} {
    @include font(400, $fontSize, true, $ff-title);
    @media screen and (min-width: $md) {
      @include font(400, $fontSize, true, $ff-title);
    }
  }
}

p {
  @include font(400, $fsBody, false, $ff-body);
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Raleway:ital,wght@0,300;0,400;1,300;1,400&display=swap');

h1, h2{
  .small {
    text-transform: uppercase;
    letter-spacing: 0.03rem;
    margin-bottom: 1rem;
    display: block;
  }
  .title {
    @extend .d-block;
  }
}

h1{
  @extend .margin-top-none;
  color: #F1F1F1;
  .small{
    @include font(500, 5, true, $ff-title);
  }
  .title {
    @include font(700, 16, true, $ff-title);
    font-size: 2vw;
    line-height: 1.25em;
  }
  @media screen and (max-width: $md) {
    margin-bottom: $marge-m;
    .title {
      font-size: 2rem;
    }
  }
  @media screen and (max-width: $sm) {
    .small, .title{
      line-height: 1.3em;
    }
    .title {
      font-size: 1.5rem;
    }
  }
  @media screen and (max-width: $xs) {
    .title {
      font-size: 1.3rem;
    }
  }
}

h2 {
  margin-top: 0;
  @include font(600, 36, true, $ff-title);
  .small {
    @include font(600, 8, true, $ff-title);
  }
  @media screen and (max-width: $sm) {
    .small {
      @include font(600, 9, true, $ff-title);
    }
    @include font(600, 27, true, $ff-title);
  }
}

h3 {
  &.small-title{
    @include font(500, 32, true, $ff-title);
  }
  @media screen and (max-width: $md) {
    font-size: 1.25em;
  }
}

p, li {
  @include font(400, 16, false, $ff-body);
  &.small{
    @include font(400, 14, false, $ff-body);
  }
}

p { 
  margin-top: 0;
  &:last-child{
    margin-bottom: 0;
  }
}