<footer>
	<div class="row-no-marge">
		<div class="col-12-no-marge row-footer">
			<nav>
				<ul id="nav">
					{{ include('webpages/blocks/_navigation.html.twig', { pos: 1 }) }}
					<li><span onclick="tarteaucitron.userInterface.openPanel();">Cookies</span></li>
				</ul>
			</nav>
		</div>

		<div class="col-12-no-marge separe">
			<hr class="margin-none" />
		</div>

		<div class="col-12-no-marge row-footer row-no-marge">
			<div id="sign" class="col-4-no-marge col-sm-12-no-marge">
				<p>Conception et développement : Creative Eye Studio</p>
			</div>
			<div id="social" class="col-4-no-marge col-sm-12-no-marge text-center">
				{{ social }}
			</div>
			<div id="newsletter" class="col-4-no-marge col-sm-12-no-marge">

			</div>
		</div>
	</div>
</footer>
