<header class="padding-horizontal position-fixed">
    <figure></figure>
    <button class="toggle-nav nav-btn-desktop">
        <i class="bar bar-1"></i>
        <i class="bar bar-2"></i>
    </button>
</header>

<nav class="main-nav">
	<ul>
		{{ include('webpages/blocks/_navigation.html.twig', { pos: 0 }) }}
    </ul>
</nav>