<div class="loader-page open">
    <div class="loader-item">
        <figure class="logo">
            <img src="{{ absolute_url(asset('uploads/images/logo/logotype.png')) }}" alt="Logo Creative Eye Studio">
        </figure>
        <figure class="spinner">
            <img src="{{ absolute_url(asset('uploads/images/spinner.png')) }}" alt="Spinner">
        </figure>
    </div>
</div>