.btn {
    &-primary {
        padding: 1rem 2rem;
        text-transform: uppercase;
        color: $colorWt;
        background-color: rgba($color: $color-p, $alpha: 1);
        border: .0625rem solid $color-p;
        transition-duration: .5s;
        &:hover {
            color: $colorBk;
            background-color: rgba($color: $color-p, $alpha: 0);
            border: .0625rem solid $colorBk;
        }
    }
    &-link {
        @extend .btn-primary;
        display: inline-block;
        text-decoration: none;
    }
}