.btn {
    // Bouton primaire
    &-primary {
        padding: 1rem 2rem;
        text-transform: uppercase;
        font-family: $ff-body;
        color: $colorWt;
        background-color: rgba($color: $color-p, $alpha: 1);
        border: .0625rem solid $color-p;
        transition-duration: 1s;
        &:hover {
            color: $colorBk;
            background-color: rgba($color: $color-p, $alpha: 0);
            border: .0625rem solid $colorBk;
        }
    }

    // Bouton lien
    &-link {
        @extend .btn-primary;
        @extend .d-inline-block;
        text-decoration: none;
        &-wt {
            @extend .btn-link;
            &:hover {
                color: $colorWt;
                background-color: rgba($color: $color-p, $alpha: 0);
                border: .0625rem solid $colorWt;
            }
        }
    }

    // Bouton arrondi
    &-rounded {
        color: $colorWt;
        background-color: rgba($color: $color-p, $alpha: 1);
        width: 4rem;
        height: 4rem;
        border-radius: 4rem;
        border: .0625rem solid $color-p;
        cursor: pointer;
        transition-duration: 1s;
        &-wt {
            @extend .btn-rounded;
            &:hover {
                color: $colorWt;
                background-color: rgba($color: $color-p, $alpha: 0);
                border: .0625rem solid $colorWt;
            }
        }
    }

    // Bouton de la newsletter
    &-news-submit {
        width: 48px;
        height: 48px;
        font-size: 1.2em;
        color: $colorWt;
        background-color: rgba($color: $color-p, $alpha: 0);
        border: none;
        top: -1px;
        right: 0;
    }
}