@media screen and (min-width: 1200px) {
    body:not(.no-js){
        [data-aos=reveal-left]{
            @include animate-image("left", "right");
        }

        [data-aos=reveal-right]{
            @include animate-image("right", "left");
        }

        [data-aos=reveal-left-reverse]{
            @include animate-image("left", "left");
        }

        [data-aos=reveal-right-reverse]{
            @include animate-image("right", "right");
        }

        [data-aos=circle-left]{
            transform-origin: right top;
            opacity: 0;
            transform: rotate(-5deg) translateY(5%);
            &.aos-animate {
                opacity: 1;
                transform: rotate(0deg) translateY(0%);
            }
        }
    }
    
}
