.heroscreen-page{
    background: linear-gradient(70deg, rgb(13, 13, 13) 0%, rgba(13,13,13,0.8) 100%); 
    height: 100vh;
    .text{
        width: calc(50% - (#{$marge-d-x} * 2));
        z-index: 1;
        transform: translateY(-50%);
        top: 50%;
    }
    .image{
        width: 50%;
        top: $marge-d-y;
        bottom: $marge-d-y;
        right: 0;
        img{
            @extend .position-absolute-no-md;
            object-fit: cover;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            display: block;
        }
    }
    @media screen and (max-width: $md) {
        height: auto;
        .text, .image {
            width: 100%;
        }
        .text {
            transform: translateY(0%);
            padding: $marge-m;
        }
        .image {
            aspect-ratio: 16/9;
        }
    }
}