.partner-item {
    &:not(:last-child){
        @extend .margin-bottom-on-md;
    }
    &:nth-child(even){
        flex-direction: row-reverse;
    }
    .image {
        img {
            object-position: 33%;
        }
    }
    .text-block {
        background-color: #F1F1F1;
        padding: calc(#{$marge-m} * 2);
        h3 {
            margin-top: 0;
        }
        .logo {
            float: right;
            max-width: 200px;
        }
        .text-content {
            padding: $marge-m 0;
        }
        a:not(.btn-link) {
            @extend .link;
        }
        @media screen and (max-width: $md) {
            padding: $marge-m;
            .logo {
                float: inherit;
                margin-bottom: $marge-m;
            }
        }
    }
    @media screen and (max-width: $lg) {
        &:nth-child(even){
            flex-direction: inherit;
        }
    }
}