.parallax-section {
	@extend .position-relative;
    padding-top: 35%;
    overflow: hidden;
	&.parallax-ht-25{
		padding-top: 25vh;
	}
	&.parallax-ht-50{
		padding-top: 50vh;
	}
	&.parallax-ht-75{
		padding-top: 75vh;
	}
	&.parallax-ht-100{
		padding-top: 100vh;
	}
}

.parallax-element{
	@extend .wd-100;
	@extend .position-absolute;
	height: calc(100% * 1.5);
	top: 0;
	left: 0;
	img{
		@extend .position-absolute;
		@extend .wd-100;
		@extend .ht-100;
		object-fit: cover;
		top: 0;
		left: 0;
		// z-index: -1;
	}
}