.text-img-bloc{
    width: 25vw;

    // Image
    .image{
        @extend .cover-img;
        aspect-ratio: 16/9;
        background-color: lightgray;
        overflow: hidden;
        img {
            transition-duration: 1s;
        }
    }

    // Conteneur du texte
    .text-content {
        margin-bottom: 2px;
    }
    
    // Texte
    .text {
        margin: $marge-m 0;
        &.post-text {
            height: 14vh;
            overflow: hidden;
            p {
                overflow: hidden;
                text-overflow: ellipsis;
            }    
        }
        
    }

    // Lien
    a {
        text-decoration: none;
        &:hover {
            img {
                transform: scale(1.2);
            }
        }
    }

    @media screen and (max-width: $md) {
        width: 100%;
        margin-bottom: $marge-m;
    }
}