.text-img-bloc{
    width: 25vw;
    // Image
    .image{
        @extend .cover-img;
        aspect-ratio: 16/10;
        background-color: lightgray;
    }
    .text-content {
        margin-bottom: 2px;
    }
    .text {
        margin: 2rem 0;
    }
}