// Typographie
// ----------------------------------------------------------
@mixin typography($fontWeight, $fontFile, $fontStyle: false){
    @font-face {
        font-family: $fontFamily;
        font-weight: $fontWeight;
        @if $fontStyle{
            font-style: italic;
        }
        src: url('../../../fonts/raleway/' + $fontFile + '.ttf');
    }
}

@mixin font($weight, $size, $lineHeight){
    font: $weight #{$size}/#{$lineHeight} $fontFamily;
}