// COLORS
$color-p: #095577;
$color-p-dark: darken($color-p, 8%);
$color-s: #FFB875;
$color-s-dark: darken($color-s, 18%);
$color-d: #FFFCF5;
$color-d-dark: darken($color-d, 15%);

// FONTS
$fontFamily: 'Raleway';

// GRID
$grid-size: 12;
$padding-col: 1rem;

// MARGES
$marge-m: 2rem;
$marge-d-x: 10vw;
$marge-d-y: 5vw;

// SCREEN SIZES
$lg: '1440px';
$md: '1024px';
$sm: '768px';
$xs: '640px';