.heroscreen-real {
    @extend .position-relative;
    .content {
        @extend .wd-100;
        @extend .position-absolute-no-md;
        background-color: rgba($color: #000000, $alpha: .7);
        bottom: 0;
        left: 0;
        color: $colorWt;
    }

    .image {
        @extend .cover-img-no-md-16-9;
        @extend .cover-img-no-sm-4-3;
        height: 100vh;
        object-position: center;
    }

    .more-btn-panel, .more-panel.open {
        padding: $marge-m 0 0;
    }

    .more-btn {
        position: relative;
        &::before, &::after {
            content: "";
            border: .1rem solid $colorWt;
            width: 1rem;
            position: absolute;
            top: 50%;
            left: 50%;
            transform-origin: 50%;
        }
        &::before {
            transform: translate(-50%, 0%);
        }
        &::after {
            transform: translate(-50%, calc(-50% + 1px)) rotate(90deg);
        }
        &.toggled {
            transform: rotate(45deg);
        }
    }

    .more-panel {
        max-height: 0;
        overflow: hidden;
        transition-duration: 1.5s;
        &:not(.open) {
            transition: all 1.5s, padding 1s ease 1s;
        }
        &.open {
            max-height: 50rem;
        }
    }

    @media screen and (max-width: $md) {
        .content {
            background-color: rgba($color: #1F1F1F, $alpha: 1);
        }
        .title {
            margin-bottom: $marge-m;
        }
        .image {
            height: inherit;
        }
        .more-panel-item {
            &:not(:last-child) {
                margin-bottom: $marge-m;
            }
        }
    }
}

.yt-container {
    background-color: #F1F1F1;
    .youtube_player {
        aspect-ratio: 16/9;
    }
}