.service-intro {
	.list {
		ul {
			list-style-type: none;
		}
		@media screen and (max-width: $sm) {
			padding-top: $marge-m;
		}
	}
}

.reals {
	.item {
		margin-bottom: $marge-m;

		figure {
			@extend .cover-img;
			aspect-ratio: 16/10;
			background: #F1F1F1;
			margin-bottom: $marge-m;
			overflow: hidden;
			img {
				transition-duration: 1s;
			}
		}

		h2 {
			margin-bottom: 0;
		}

		&:last-child {
			margin-bottom: 0;
		}

		&:nth-child(even) {
			position: relative;
			top: $marge-d-y;
			&:last-child {
				margin-bottom: $marge-d-y;
			}
		}

		a {
			text-decoration: none;
			&:hover {
				img {
					transform: scale(1.2);
				}
			}
		}
	}
	@media screen and (max-width: $md) {
		.item {
			&:nth-child(even) {
				top: 0;
				&:last-child {
					margin-bottom: 0;
				}
			}
		}
	}
}