.reals {
  .item {
    margin-bottom: $marge-m;

    figure {
      aspect-ratio: 1/1;
      background: #F1F1F1;
      margin-bottom: $marge-m;
    }

    &:nth-child(even) {
      position: relative;
      top: $marge-d-y;
    }
  }
}