.parallax-text{
    .text{
        padding: $marge-m;
    }
}

.panel1,
.panel3,
.panel4,
.panel5,
.panel6,
.panel7{
    @extend .container-fluid;
    padding: $marge-m;
}

.panel1{
    @extend .ht-100vh-no-sm;
    background: linear-gradient(177.56deg, #05495A 2.04%, #002131 97.96%);
    color: rgba($color: #fff, $alpha: 1.0);
    .text{
        h1{
            font-size: 1em;
            font-weight: 400;
            margin-bottom: 0;
        }
        .big{
            font-size: 1.2em;
        }
    }
}

.panel3{
    background-color: $color-d;
    .block-mission{
        &:not(:last-child){
            margin-bottom: $marge-m;
        }
        .row{
            background-color: white;
            padding: calc(#{$marge-m} / 2);
        }
        h2{
            color: white;
        }
    }
}

.panel6{
    background: linear-gradient(177.56deg, #05495A 2.04%, #002131 97.96%);
    color: white;
}