.panel1{
    .text{
        background-color: $color-p-dark;
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        h1{
            margin-bottom: 0;
        }
        h2{
            font-size: 3.19vw;
            line-height: 4vw;
            margin: calc(#{$marge-m} / 2) 0 $marge-d-y;
        }
        .big{
            font-size: 1.415vw;
            line-height: 1.5em;
        }
    }
}

.panel2{
    background-color: $color-p;
    color: $color-d;
    hr{
        border: 1px solid $color-s;
    }
    .block-mission{
        background-color: rgba($color: #fff, $alpha: .9);
        color: black;
        h3{
            color: $color-s-dark;
            font-weight: 500;
            line-height: 1.2em;
            margin-bottom: $marge-d-y;
        }
    }
    h2{
        font-size: 3em;
    }
}

.panel5{
    background-color: $color-p-dark;
    color: white;
    h3{
        color: $color-s-dark;
    }
}