<section class="panel panel1">
  <div class="text">
    <h1>Webmaster freelance sur le Val d'Oise</h1>
    <h2>Un prestataire unique qui vous aide à :<br />
      S'identifier | Communiquer | Vendre</h2>
    <p class="big">Artisans du batiment | Soins et beauté | Commerce de gros | Publicité et marketing</p>
  </div>
  <div class="image">

  </div>
</section>

<section class="panel panel2">
  <div class="block-mission">
    <h2 class="center">S'identifier</h2>
    <article>
      <div>
        <h3>Création graphique</h3>
        <p>Création de contenus<br />
          Stratégie éditoriale, concept, design</p>
        <p>Logo et charte graphique<br />
          Direction artistique, conception, étude</p>
      </div>
      <div>
        <h3>Contenu multimédia</h3>
        <p>Reportage photo<br />
          Repérage, shooting photo</p>
      </div>
    </article>
  </div>
  <div class="block-mission">
    <h2 class="center">Communiquer</h2>
    <article>
      <div>
        <h3>Digital</h3>
        <p>UX / UI Design<br />
          Expérience et parcours utilisateur, design interfaces desktop et mobile</p>
        <p>Création de site web<br />
          Conception sur-mesure et mobile first, accessibilité numérique</p>
        <p>Service E-Mail<br />
          Adresse E-Mail et boite mail personnalisées</p>
      </div>
      <div>
        <h3>E-Commerce</h3>
        <p>Boutique en ligne<br />
          Développment de boutique Woocommerce</p>
      </div>
    </article>
  </div>
  <div class="block-mission">
    <h2 class="center">Vendre</h2>
    <article>
      <div>
        <h3>Référencement SEO / SEA</h3>
        <p>Référencement naturel (SEO)<br />
        Etude des mots clés, optimisation des pages et génération de backlinks</p>
        <p>Référencement payant (SEA)<br />
        Campagne de liens sponsorisés</p>
      </div>
      <div>
        <h3>Relation client</h3>
        <p>Campagnes E-Mailing<br />
        Gestion de campagnes marketing par E-Mail/SMS</p>
        <p>CRM<br />
        Optimisation de la relation client, programmes de fidélisation et réservation en ligne</p>
      </div>
    </article>
  </div>
</section>

<section class="panel panel3">
	<h2>Quelques réalisations clients</h2>
</section>

<section class="panel panel4">
	<h2>Un réseau de partenaires</h2>
</section>

<section class="panel panel4">
	<h2>Les valeurs de Creative Eye Studio</h2>
</section>

<section class="panel panel4">
	<h2>Me contacter</h2>
</section>