<section class="panel1">
  <div class="text padding-all">
    <h1 class="small">Creative Eye Studio - Webmaster freelance sur le Val d'Oise</h1>

    <h2>Un prestataire unique pour superviser votre :<br />
      Image de marque | Communication | Marketing digital</h2>

    <p class="big"><strong>Artisans du batiment | Métiers de bouche | Soins et beauté | Evenementiel | Commerce de gros | Publicité et marketing</strong></p>
  </div>

  <div class="parallax-section parallax-ht-75">
    <div class="parallax-element"><img alt="Creative Eye Studio - Webmaster Freelance sur le Val d'Oise" src="../uploads/images/pages/parallax-home-1.jpg" /></div>
  </div>
</section>

<section class="panel2 container-fluid padding-all">
  <div class="row">
    <div class="col-4 col-md-12">
      <h2>Un interlocuteur unique<br />
        L'efficacité en mieux</h2>
    </div>

    <div class="col-7 col-push-1 col-md-12 col-md-push-0">
      <p>Entre la créativité et le technique, il n'y a qu'un pas</p>

      <p>Depuis 5 ans, j'accompagne les professionnels de différents secteurs dans leur tournant vers le digital et les aide à&nbsp;: S'identifier – Communiquer – Vendre.</p>

      <p>Le cœur de métier d'un webmaster rime bien évidemment avec le web. Mais une prestation digitale globale rime également avec «&nbsp;Graphisme&nbsp;», «&nbsp;Visibilité&nbsp;» et «&nbsp;Marketing&nbsp;».</p>

      <p>Étant à l'origine de la totalité de la matière première de votre communication, un seul contact suffit pour l'ensemble de votre stratégie digitale.</p>

      <p>Des prestations variées et complémentaires pour un résultat cohérent. Creative Eye Studio réalise votre image de marque et décline votre identité aussi bien sur le papier que sur le digital.</p>

      <p>Vos objectifs se réalisent efficacement, voire mieux&nbsp;!</p>
    </div>
  </div>

  <hr />
  <article class="block-mission text-center margin-top-no-md padding-top-no-md padding-horizontal-no-md">
    <h3>Image de Marque</h3>
    <div class="row">
      <div class="col-3 col-md-6 col-sm-12 margin-bottom-no-md border-right-no-sm">
        <p><strong>Création de contenus</strong><br />
          Stratégie éditoriale, concept et design</p>
      </div>
      <div class="col-3 col-md-6 col-sm-12 margin-bottom-no-md border-right-no-md">
        <p><strong>Logo et charte graphique</strong><br />
          Conception, étude graphique et direction artistique</p>
      </div>
      <div class="col-3 col-md-6 col-sm-12 margin-bottom-no-md border-right-no-sm">
        <p><strong>Édition</strong><br />
          Conception de vos supports imprimés</p>
      </div>
      <div class="col-3 col-md-6 col-sm-12 margin-bottom-no-md">
        <p><strong>Reportage photo</strong><br />
          Reperage et shooting photo</p>
      </div>
    </div>
  </article>

  <article class="block-mission text-center margin-top-no-md padding-top-no-md padding-horizontal-no-md">
    <h3>Communication</h3>
    <div class="row">
      <div class="col-6 col-sm-12 margin-bottom-no-md border-right-no-sm">
        <p><strong>Transition digitale</strong><br />
          Conception et refonte de site internet sur-mesure<br />
          Développement d'applications mobiles
        </p>

        <p><strong>UX Design</strong><br />
          Expérience et parcours utilisateur, ergonomie</p>

        <p><strong>UI Design</strong><br />
          Design interface mobile et desktop</p>
      </div>
      <div class="col-6 col-sm-12 margin-bottom-no-md">
        <p><strong>E-Commerce</strong><br />
          Développement de boutique en ligne<br />
          Vente à emporter<br />
          Click & Collect<br />
          Drive
        </p>
      </div>
    </div>
  </article>

  <article class="block-mission text-center margin-top-no-sm padding-top-no-md padding-horizontal-no-md">
    <h3>Marketing digital</h3>

    <div class="row">
      <div class="col-4 col-md-6 col-sm-12 margin-bottom-no-md border-right-no-sm">
        <p><strong>Référencement SEO / SEA</strong><br />
          Audit et recherche de mots-clés<br />
          Optimisation des pages<br />
          Déploiement de backlinks</p>
      </div>
      <div class="col-4 col-md-6 col-sm-12 margin-bottom-no-md border-right-no-md">
        <p><strong>Stratégie commerciale</strong><br />
          Audit du trafic<br />
          Campagnes E-Mailing</p>
      </div>
      <div class="col-4 col-md-12 margin-bottom-no-md">
        <p><strong>Relation client</strong><br />
          Optimisation de la relation client<br />
          Programmes de fidélisation<br />
          Réservation en ligne</p>
      </div>
    </div>
  </article>
</section>

<div class="parallax-section parallax-ht-75">
  <div class="parallax-element"><img alt="Creative Eye Studio - Webmaster Freelance sur le Val d'Oise" src="../uploads/images/pages/parallax-home-2.jpg" /></div>
</div>

<section class="panel3 container-fluid padding-all">
  <h2 class="text-center">Quelques réalisations</h2>
  <article class="block-real margin-top"></article>
</section>

<div class="parallax-section parallax-ht-75">
  <div class="parallax-element"><img alt="Creative Eye Studio - Webmaster Freelance sur le Val d'Oise" src="../uploads/images/pages/parallax-home-3.jpg" /></div>
</div>

<section class="panel4 container-fluid padding-all">
  <h2 class="text-center">Nos partenaires</h2>
  <div class="row margin-top">
    <figure class="col-4">
      <img src="https://picsum.photos/seed/picsum/640/480" alt="" />
    </figure>
    <figure class="col-4">
      <img src="https://picsum.photos/seed/picsum/640/480" alt="" />
    </figure>
    <figure class="col-4">
      <img src="https://picsum.photos/seed/picsum/640/480" alt="" />
    </figure>
  </div>
</section>

<section class="panel5 container-fluid padding-horizontal padding-top-no-sm">
  <h2 class="text-center">Nos valeurs</h2>
  <div class="row">
    <article class="col-5 col-md-12 margin-bottom-no-sm">
      <h3 class="margin-bottom-none">Créativité et innovation</h3>
      <p>Mon équipe et moi-même mettons un point d'honneur à la créativité pour votre campagne de communication. Être créatif, c'est la base de l'innovation et permet d'exprimer ses émotions de manière originale et unique.</p>
      <p>C'est de là que l'innovation nait pour proposer les solutions et les services innovants et novateurs pour votre communication digitale.</p>
    </article>
    <article class="col-5 col-md-12 col-push-2 col-md-push-0 margin-bottom-no-md">
      <h3 class="margin-bottom-none">Efficacité et excellence</h3>
      <p>Chez Creative Eye Studio, il n'y a pas de plan d'action sans objectif défini ! Nous commencons d'abord par étudier votre stratégie digital et marketing et vous proposons une liste de solutions adaptée à vos besoins.</p>
      <p>Tout en continuant bien-sur à optimiser votre demande au fil du temps et selon les nouvelles tendances en communication.</p>
    </article>
    <article class="col-5 col-md-12 margin-bottom-no-sm">
      <h3 class="margin-bottom-none">La passion du métier</h3>
      <p>Issue du milieu de la communication et du développement informatique ! C'est une équipe animée par leurs secteurs respectifs qui sont à l'écoute de votre demande pour l'honorer au mieux.</p>
      <p>Le but étant de vous permettre d’acquérir une grande visibilité sur un secteur donné, générer des contacts qualifiés, et viser l’augmentation de votre chiffre d’affaire.</p>
    </article>
    <article class="col-5 col-md-12 col-push-2 col-md-push-0 margin-bottom-no-md">
      <h3 class="margin-bottom-none">Transmission du savoir</h3>
      <p>Seul, on va plus vite, mais ensemble nous allons plus loin ! Vous êtes accompagnés et suivis dans vos objectifs sur le long terme et ce même après le lancement de votre campagne de communication.</p>
      <p>Notre process et notre méthodologie permettent à chaque acteur de projet d'avancer sereinement et de manière efficace.</p>
    </article>
  </div>
</section>

<div class="parallax-section parallax-ht-75">
  <div class="parallax-element"><img alt="Creative Eye Studio - Webmaster Freelance sur le Val d'Oise" src="../uploads/images/pages/bg-parallax.jpg" /></div>
</div>