<section class="panel1">
  <div class="text wd-50-no-sm">
    <h1>Webmaster freelance sur le Val d'Oise</h1>

    <h2>Un prestataire unique pour superviser votre :<br />
      Image de marque | Communication | Marketing digital</h2>

    <p class="big"><strong>Artisans du batiment | Soins et beauté | Evenementiel | Commerce de gros | Publicité et marketing</strong></p>
  </div>

  <div class="image"><img alt="" src="" /></div>
</section>

<section class="parallax-text">
  <div class="text">
    <p>Entre la créativité et le technique, il n'y a qu'un pas.</p>

    <p>Depuis 5 ans, j'accompagne les professionnels de différents secteurs dans leur tournant vers le digital et les aide à&nbsp;: S'identifier – Communiquer – Vendre.</p>

    <p>Le cœur de métier d'un webmaster rime bien évidemment avec le web. Mais une prestation digitale globale rime également avec «&nbsp;Graphisme&nbsp;», «&nbsp;Visibilité&nbsp;» et «&nbsp;Marketing&nbsp;».</p>

    <p>Étant à l'origine de la totalité de la matière première de votre communication, un seul contact suffit pour l'ensemble de votre stratégie digitale.</p>

    <p>Des prestations variées et complémentaires pour un résultat cohérent. Creative Eye Studio réalise votre image de marque et décline votre identité aussi bien sur le papier que sur le digital.</p>

    <p>Vos objectifs se réalisent efficacement, voire mieux&nbsp;!</p>
  </div>

  <div class="parallax-section">
    <figure class="parallax-element"><img alt="Parallax" src="../uploads/images/pages/parallax-home-1.jpg" /></figure>
  </div>
</section>

<section class="panel3 text-center">
  <div class="block-mission">
    <h2 class="text-center">S'identifier</h2>

    <article class="row">
      <div class="col-6 col-xs-12">
        <h3>Création graphique</h3>

        <p><strong>Création de contenus</strong><br />
          Stratégie éditoriale, concept, design</p>

        <p><strong>Logo et charte graphique</strong><br />
          Direction artistique, conception, étude</p>
      </div>

      <div class="col-6 col-xs-12 border-left-no-xs">
        <h3>Contenu multimédia</h3>

        <p><strong>Reportage photo</strong><br />
          Repérage, shooting photo</p>
      </div>
    </article>
  </div>

  <div class="block-mission">
    <h2 class="text-center">Communiquer</h2>

    <article class="row">
      <div class="col-6 col-xs-12">
        <h3>Digital</h3>

        <p><strong>UX / UI Design</strong><br />
          Expérience et parcours utilisateur, design interfaces desktop et mobile</p>

        <p><strong>Création de site web et d'applications mobiles</strong><br />
          Conception sur-mesure et mobile first, accessibilité numérique</p>

        <p><strong>Service E-Mail</strong><br />
          Adresse E-Mail et boite mail personnalisées</p>
      </div>

      <div class="col-6 col-xs-12 border-left-no-xs">
        <h3>E-Commerce</h3>

        <p><strong>Boutique en ligne</strong><br />
          Développment de boutique Woocommerce</p>
      </div>
    </article>
  </div>

  <div class="block-mission">
    <h2 class="text-center">Vendre</h2>

    <article class="row">
      <div class="col-6 col-xs-12">
        <h3>Référencement SEO / SEA</h3>

        <p><strong>Référencement naturel (SEO)</strong><br />
          Etude des mots clés, optimisation des pages et génération de backlinks</p>

        <p><strong>Référencement payant (SEA)</strong><br />
          Campagne de liens sponsorisés</p>
      </div>

      <div class="col-6 col-xs-12 border-left-no-xs">
        <h3>Relation client</h3>

        <p><strong>Campagnes E-Mailing</strong><br />
          Gestion de campagnes marketing par E-Mail/SMS</p>

        <p><strong>CRM</strong><br />
          Optimisation de la relation client, programmes de fidélisation et réservation en ligne</p>
      </div>
    </article>
  </div>
</section>

<div class="parallax-section">
  <figure class="parallax-element"><img alt="Parallax" src="../uploads/images/pages/parallax-home-1.jpg" /></figure>
</div>

<section class="panel4">
  <h2 class="text-center">Nos clients et partenaires</h2>
  <div class="row">
    <!-- AGC Web -->
    <figure class="col-3 col-xs-6"><img alt="AGC Web" src="" /></figure>
    <!-- WEEC -->
    <figure class="col-3 col-xs-6"><img alt="WEEC" src="" /></figure>
    <!-- Reservit -->
    <figure class="col-3 col-xs-6"><img alt="Reservit" src="" /></figure>
    <!-- Air Création -->
    <figure class="col-3 col-xs-6"><img alt="Air Création" src="" /></figure>
    <!-- 123 Piscines -->
    <figure class="col-3 col-xs-6"><img alt="123 Piscines" src="" /></figure>
    <!-- Persepolis Maroquinerie -->
    <figure class="col-3 col-xs-6"><img alt="Persepolis Maroquinerie" src="" /></figure>
    <!-- Les Fleurs de Riton -->
    <figure class="col-3 col-xs-6"><img alt="Les Fleurs de Riton" src="" /></figure>
  </div>
</section>

<section class="panel6">
  <h2 class="text-center">Les valeurs de Creative Eye Studio</h2>

  <div class="row">
    <article class="col-6 col-xs-12">
      <h3>La rigueur</h3>
    </article>

    <article class="col-6 col-xs-12">
      <h3>Le sens de la créativité</h3>
    </article>

    <article class="col-6 col-xs-12">
      <h3>La passion de transmettre</h3>
    </article>

    <article class="col-6 col-xs-12">
      <h3>L'efficacité</h3>
    </article>
  </div>
</section>

<section class="panel7">
  <h2 class="text-center">Me contacter</h2>
</section>